/*
    Tablet View
*/

/* Small changes on the What We Do section */
#what .items {
    flex-direction: column; /* Or you can display them as blocks */
}

#what .items .item {
    text-align: left;
    display: flex;
}


#what .items .item .fas {
    align-self: center;
    margin-right: 1.5rem;
}

/*
    Smartphone View
*/
@media (max-width: 500px) {
    /* Navbar */
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        text-align: center;
        margin-bottom: 1.2rem;
    }

    /* Showcase */
    #showcase .showcase-content {
        margin-top: -3rem;
    }

    /* Who We Are Section */
    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    /* Clients section */
    #clients .our-clients .client img {
        width: 80%;
    }

    /* Contact section */
    #contact {
        display: block;
    }

    #contact #map {
        height: 300px;
        border-top: 2px #3838ee solid;
    }
}

@media (max-height:568px) {
    .l-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1.1rem;
    }
}